<footer class="bg-dark footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 my-4">
          <div class="mb-4">
            <%= link_to image_tag('Logos.png'), root_path,  class: 'navbar-brand' %>
          </div>
        </div>
        <div class="col-lg-4 my-4">
          <p class="m-0 text-white-50 text-center py-3 w-290">© 2019-2020 <%= "#{translate 'footer.rights_reserved'}"%> PowerPost Ltda.</p>
        </div>
        <div class="col-lg-4 my-4">
          <div class="nav">
            <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="icon icon-sm icon-primary rounded-circle me-2" href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</footer>
